@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
$hover-color: #061e37;

@mixin hover-effect {
  color: $hover-color;
  border-color: $hover-color;
  cursor: pointer;
}

@mixin button_family {
  border-radius: 5px;
  box-shadow: 0px 5px 2.5px rgba(0, 0, 0, 0.15);
  font-size: 15px;
  font-weight: 700;
  font-family: "Raleway";
  text-transform: uppercase;
  padding: 20px 28px 20px 28px;
  border: none;
  transition: 1s;
}

@mixin header_family {
  font-size: 45px;
  color: #061e37;
  font-weight: 600;
  font-family: "Raleway";
  text-align: center;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.introduction-container {
  background-image: url("../../images/header_background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 50px 80px 180px 80px;
}

.header__header-text {
  font-size: 15px;
  line-height: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Raleway";
  margin: 0 0 0 10px;
}

.bold-text {
  font-weight: bold;
}

.header__name_block {
  width: 177px;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
}

.header-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navigation__item {
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Raleway";
  margin: 0 50px 0 0;
}

.header-block__link {
  width: 80px;
  height: 25px;
  border-radius: 2px;
  background: none;
  border: 1px solid #ffffff;
  font-size: 12px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Raleway";
  padding: 5px 18px 5px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation_list {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
}

.introduction__button-buy {
  border-radius: 5px;
  box-shadow: 0px 5px 2.5px rgba(0, 0, 0, 0.15);
  background-color: #061e37;
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  font-family: "Roboto";
  text-transform: uppercase;
  padding: 22px 40px 22px 40px;
  transition: 1s;
}

.introduction__button-try {
  border-radius: 5px;
  box-shadow: 0px 5px 2.5px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  font-size: 15px;
  color: #061e37;
  font-weight: 700;
  font-family: "Raleway";
  text-transform: uppercase;
  padding: 22px 40px 22px 40px;
  margin: 0 0 0 30px;
  transition: 1s;
}

.introduction__header-text {
  font-size: 55px;
  line-height: 65px;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway";
  text-transform: uppercase;
  width: inherit;
}

.introduction__text-description {
  font-size: 18px;
  line-height: 35px;
  color: #ffffff;
  font-weight: 200;
  font-family: "Raleway";
  margin: 30px 0 0 0;
  width: inherit;
}

.introduction__buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 62px 0 0 0;
}

.introduction {
  margin: 165px 0 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.introduction__text-block {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.introduction-video__text {
  font-size: 12px;
  color: #061e37;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
  text-transform: uppercase;
}

.introduction-video {
  width: 600px;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../images/header_video_background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 1px solid #061e37;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

.introduction-video__link {
  width: 60px;
  height: 60px;
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  background-color: #061e37;
  margin: 0 0 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.link-arrow {
  color: #ffffff;
  transition: 1s;
}

.header_mobile-block {
  height: 50px;
  background-color: #061e37;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  display: none;
  padding: 0 10px 0 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.burger {
  width: 30px;
  height: 24px;
  cursor: pointer;
  position: relative;
  margin: 0 10px 0 0;
}

.burger__line {
  display: block;
  width: 100%;
  height: 4px;
  background-color: #fff;
  position: absolute;
  left: 0;
  transition: 0.3s all linear;
}

.burger__line_first {
  top: 0;
}

.burger__line_second,
.burger__line_third {
  top: 50%;
  transform: translateY(-50%);
}

.burger__line_fourth {
  bottom: 0;
}

.burger_active .burger__line_first,
.burget_active .burger__line_fourth {
  opacity: 0;
}

.burger_active .burger__line_fourth {
  opacity: 0;
}

.burger_active .burger__line_second {
  transform: translateY(-50%) rotate(45deg);
}

.burger_active .burger__line_third {
  transform: translateY(-50%) rotate(-45deg);
}

.navigation_mobile {
  display: flex;
  visibility: hidden;
  position: fixed;
  top: -300px;
  left: 0;
  width: 100%;
  transition: 0.3s all linear;
  z-index: 2;
}

.navigation_mobile__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.navigation_mobile__item {
  background-color: #061e37;
  width: 100%;
  padding: 10px 0 10px 0;
  border-top: 1px solid #fff;
}

.navigation_mobile__item-link {
  font-size: 16px;
  font-family: "Raleway";
  font-weight: 400;
  line-height: 16px;
  text-transform: uppercase;
  color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header_mobile-block__name-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.advantages__button {
  color: #fff;
  background-color: #1de9b6;
  @include button_family;
}

.main_header-text {
  font-size: 45px;
  color: #061e37;
  font-weight: 600;
  font-family: "Raleway";
  text-align: center;
}

.advantages__subtitle {
  font-size: 25px;
  color: #b0bec5;
  font-weight: 600;
  font-family: "Raleway";
  text-align: center;
  margin: 12px 0 25px 0;
}

.main_header_description {
  font-size: 15px;
  line-height: 25px;
  color: #b0bec5;
  font-weight: 400;
  font-family: "Raleway";
  text-align: center;
  width: 100%;
}

.advantages__header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.advantage__header-text {
  font-size: 20px;
  line-height: 25px;
  color: #061e37;
  font-weight: 600;
  font-family: "Raleway";
  text-align: center;
  margin: 35px 0 20px 0;
}

.advantage__text {
  font-size: 15px;
  line-height: 20px;
  color: #78909c;
  font-weight: 400;
  font-family: "Raleway";
  text-align: center;
  width: 100%;
}

.advantages-container {
  padding: 95px 80px 95px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.advantages {
  margin: 92px 0 80px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-basis: 25%;
}

.achievements {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
}

.achievement-container {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 45px 0 45px 0;
}

.achievement-container[data-backgroundColor="#80d8ff"] {
  background-color: #80d8ff;
}

.achievement-container[data-backgroundColor="#82b1ff"] {
  background-color: #82b1ff;
}

.achievement-container[data-backgroundColor="#b388ff"] {
  background-color: #b388ff;
}

.achievement-container[data-backgroundColor="#ea80fc"] {
  background-color: #ea80fc;
}

.achievement {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.achievement_text {
  margin: 0 0 0 23px;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 800;
  font-family: "Raleway";
}

.achievement_image-container {
  background-color: #fff;
  padding: 15px;
  border-radius: 50%;
}

.services-container {
  width: 100%;
  box-sizing: border-box;
  padding: 100px 0 95px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services {
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.services__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.service {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0px 2px 2.5px rgba(0, 0, 0, 0.13);
  background-color: #ffffff;
  padding: 18px 27px 18px 27px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 0 0;
  transition: 0.3s;
}

.services__service__header-block {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.services__drop_down {
  visibility: hidden;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.5s;
}

.services__drop_down_active {
  height: auto;
  overflow: auto;
  visibility: visible;
  margin: 23px 0 0 0;
  opacity: 1;
}

.services__dropdown-text {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 25px;
  color: #061e37;
  font-weight: 400;
  font-family: "Raleway";
  margin: 0 0 0 25px;
  width: inherit;
}

.services__service__name-text {
  font-size: 15px;
  color: #061e37;
  font-weight: 700;
  font-family: "Raleway";
  text-align: center;
  margin: 0 0 0 25px;
  text-transform: uppercase;
}

.services__header-text {
  @include header_family;
  margin: 0 0 30px 0;
}

.services__header-subtext {
  font-size: 15px;
  line-height: 25px;
  color: #b0bec5;
  font-weight: 400;
  font-family: "Raleway";
  text-align: center;
  width: inherit;
}

.services__header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 30px 0;
  width: 100%;
}

.customers-container {
  background-image: url("../../images/customers_background.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 38px 85px 38px 85px;
}

.customers__header-block{
  width: 460px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.customers__button {
  @include button_family;
  color: #fff;
  background-color: #061e37;
}

.customers__header-text {
  font-size: 45px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Raleway";
  width: inherit;
}

.customers__text {
  width: inherit;
  font-size: 15px;
  line-height: 25px;
  color: #ffffff;
  font-weight: 600;
  font-family: "Raleway";
  margin: 25px 0 75px 0;
}

.customers {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.review {
  border-radius: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  padding: 30px 32px 30px 32px;
  margin: 0 0 0 50px;
  width: 650px;
}

.customers_slider-desktop {
  min-width: 0;
  margin: 0 0 0 150px;
  position: relative;
  padding: 30px 0 30px 0;
  width: 65%;
}

.customers_slider-desktop .slider__item,
.customers_slider-mobile .slider__item {
  height: 155px;
  width: 100% !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 0 70px 0;
}

.customer__text {
  font-size: 15px;
  line-height: 25px;
  color: #78909c;
  font-weight: 400;
  font-family: "Raleway";
  width: inherit;
}

.customer__name {
  font-size: 18px;
  line-height: 25px;
  color: #061e37;
  font-weight: 700;
  font-family: "Raleway";
}

.customers_slider-mobile{
  display: none;
  min-width: 0;
  position: relative;
  padding: 30px 0 30px 0;
}
.customers_slider-desktop .slick-track,
.customers_slider-mobile .slick-track {
  display: block;
}

.slider-nav {
  position: relative;
}

.customers_slider-desktop .slick-arrow,
.customers_slider-mobile .slick-arrow {
  position: absolute;
  z-index: 10;
  left: 50%;
  font-size: 0;
  width: 23px;
  height: 14px;
  border: none;
  background: none;
  transform: translateX(50%);
}

.customers_slider-desktop .slick-arrow.slick-prev,
.customers_slider-mobile .slick-arrow.slick-prev {
  top: 0;
  background-image: url("../../images/arrow_up.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.customers_slider-desktop .slick-arrow.slick-next,
.customers_slider-mobile .slick-arrow.slick-next {
  bottom: 0;
  background-image: url("../../images/arrow_down.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.slick-track {
  display: flex;
}

.slick-list {
  overflow: hidden;
}
// Hover effects

.header-block__link:hover,
.navigation__item:hover {
  @include hover-effect;
}

.advantages__button:hover {
  background-color: #fff;
  color: #1de9b6;
}

.customers__button:hover {
  color: #061e37;
  background-color: #fff;
}

.introduction__button-try:hover {
  background-color: $hover-color;
  color: #fff;
}

.introduction__button-buy:hover {
  background-color: #fff;
  color: $hover-color;
}

.introduction-video__link:hover {
  background-color: #fff;
  width: 65px;
  height: 65px;
  box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.2);
}

.service:hover {
  cursor: pointer;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.13);
}
button {
  cursor: pointer;
}

.introduction-video__link:hover .link-arrow {
  color: $hover-color;
}

.menu_active {
  visibility: visible;
  top: 50px;
  transition: 0.3s;
}

// Media requests

@media (max-width: 1300px) {
  .introduction {
    flex-direction: column;
    justify-content: center;
    padding: 0 30px 0 30px;
  }

  .introduction__text-block {
    width: 100%;
    align-items: center;
  }

  .introduction-video {
    width: 80%;
    margin: 100px 0 0 0;
  }

  .introduction__header-text {
    text-align: center;
  }

  .customers{
    flex-direction: column;
  }

  .customers__header-block{
    width: 100%;
    margin: 0 0 40px 0;
  }

  .customers__header-text,
  .customres__text{
    text-align: center;
  }

  .customers_slider-desktop{
    display: none;
  }
  
  .customers_slider-mobile{
    margin: 0;
    width: 100%;
    padding: 0 30px 0 30px;
    justify-content: center;
    align-items: center;
    display: flex;
  }

  .customers_slider-mobile .slick-track{
    display: flex;  
  }

  .customers_slider-mobile .slider__item{
    width: 100% !important;
    height: auto;
    margin: 0;
    justify-content: center;
    flex-direction: column;
  }

  .customers_slider-mobile .slick-arrow {
    top: 60% !important;
    width: 15px;
    height: 23px;
  }
  
  .customers_slider-mobile .slick-arrow.slick-prev {
    left: 0;
    background-image: url("../../images/arrow_left.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  
  .customers_slider-mobile .slick-arrow.slick-next {
    left: auto;
    right: 15px !important;
    background-image: url("../../images/arrow_right.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }

  .review{
    margin: 0;
    width: 100%;
  }

  .customers__header-block{
    align-items: center;
  }

  .customers__text{
    margin: 25px 0 40px 0;
    text-align: center;
  }
}

@media (max-width: 1000px) {
  .header_mobile-block {
    display: flex;
  }

  .header-block {
    display: none;
  }

  .introduction-container {
    padding: 0 0 90px 0;
  }

  .introduction {
    padding: 50px 30px 0 30px;
    margin: 50px 0 0 0;
  }

  .advantages__header-block {
    width: 90%;
  }
  .advantage {
    flex-basis: 30%;
  }
  .achievement-container {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .services {
    width: 100%;
  }
  .services-container {
    padding: 70px 15px 65px 15px;
  }
}
@media (max-width: 700px) {
  .advantages__header-block {
    width: 100%;
    padding: 0 15px 0 15px;
  }
  .advantages {
    padding: 0 15px 0 15px;
    margin: 52px 0 70px 0;
    flex-wrap: wrap;
  }
  .advantage {
    width: 100%;
    margin: 30px 0 0 0;
    flex-basis: auto;
  }
  .advantages-container {
    padding: 95px 15px 95px 15px;
  }

  .achievement-container {
    width: 100%;
  }

  .services__drop_down {
    flex-direction: column;
  }

  .services__dropdown-text {
    margin: 15px 0 0 0;
  }
}

@media (max-width: 500px) {
  .introduction__buttons {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
  }

  .introduction__button-try {
    margin: 15px 0 0 0;
  }

  .introduction-video {
    width: 100%;
  }

  .achievement_text {
    font-size: 16px;
  }
  .customers-container{
    padding: 38px 25px 38px 25px;
  }
  .review{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .customer__name{
    margin: 0 0 15px 0;
  }
  .customers__text{
    text-align: center;
  }
}
